<h1>Edit <%= @gorilla.name %></h1>
<%= form_for @gorilla do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>
	<div>
		<%= f.label :anger_level %>
		<%= f.text_field :anger_level %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>	

<%= link_to "Delete Gorilla", gorilla_path(@gorilla), :method=>:delete %>